<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Glass Contact Us Form</title>
    <link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
    <section>
        <form class="container" method="POST" action="/data">
            <h2>Laboratory work 4</h2>
            <div class="row100">
                <div class="col">
                    <div class="inputBox">
                        <input type="text" name="a" required="required">
                        <span class="text">A</span>
                        <span class="line"></span>
                    </div>
                </div>
                <div class="col">
                    <div class="inputBox">
                        <input type="text" name="b" required="required">
                        <span class="text">B</span>
                        <span class="line"></span>
                    </div>
                </div>
            </div>
            <div class="row100">
                <div class="col">
                    <div class="inputBox">
                        <input type="text" name="e" required="required">
                        <span class="text">E</span>
                        <span class="line"></span>
                    </div>
                </div>
            </div>
            <div class="row100">
                <div class="col">
                    <div class="submit">send</div>
                </div>
            </div>
        </form>
    </section>
    <div id="messageBox" class=""></div>
    <div id="messageBox2" class=""></div>
    <script src="view-controller.js"></script>
</body>

</html>